#root {
  width: 100vw;
  height: 100vh;
}

.map-container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 8vh);
  width: 100%;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-top: 8vh;
}

.map-container h1 {
  margin: 1rem;
  text-align: center;
}

.leaflet-map {
  flex: 1;
  height: 100%;
  width: 100%;
  min-height: 400px;
}
